@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
  background: rgb(0, 0, 0) url(./imgs/stars.png) repeat top center;
  color: rgb(255, 255, 255);
}
p 
{
  text-decoration: none;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;

}

#navbar ul {
  display: none;
  background-color: #f90;
  position: absolute;
  top: 100%;
}

#navbar li:hover ul {
  display: block;
}

#navbar,
#navbar ul {
  margin: 0;
  padding: 0;
}

#navbar {
  height: 30px;
  background-color: rgb(0, 0, 0);
  width: fit-content;
}

#navbar li a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
  width: auto;
  border-left: 5px solid #33ADFF;
}
.imgs
{
  filter: grayscale(1);
  height: 70px; 
  transition: 0.5s;
  margin: 5px;
}
.imgs:hover { 
  filter: grayscale(0);
  height: 80px;
  margin: 3px;
}